extends parent.pug


block head
    title Contact
    style
        include ../static/style.css

block next
    section#main-section
    | This is a contact section

block scripts
    script(src="../static/script.js")
