extends parent.pug


block head
    title Contact US
    style
        include ../static/style.css
        include ../static/styleContact.css

block next
    section#main-section
    | This is a contact section

block scripts
    script(src="../static/script.js")
