doctype html
html
    head
        block head

    body
        block body
            .navbar
                h1.h1-primary
                nav#nav
                    ul
                        li
                            a(href="/home") Home
                        li
                            a(href="/about") About
                        li
                            a(href="/contacts") Contacts

        block next

    block scripts
